* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}


hr {
    color: #232323;
    border: 4px solid #232323;
}

.btn {
    background-color: #E50914;
    color: white;
    border: 0;
    padding: .4rem .9rem;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.sign-in {
    font-size: 1rem;
}

header {
    background-image: url("assets/images/background.jpg");
    background-size: max(1280px, 100%);
    background-repeat: no-repeat;
    background-position: center center;
    height: 71vh;
    padding-top: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.box {
    width: 100%;
    height: 71vh;
    position: absolute;
    background-color: black;
    opacity: .7;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: .5rem 3rem .5rem 3rem;

}

.logo {
    width: 150px;
}

.language {
    padding: .4rem .9rem .4rem .9rem;
    background-color: rgba(0, 0, 0, 0.13);
    color: white;
    text-align: center;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center
}

option {
    color: black;
}

.heading {
    position: relative;
    z-index: 3;
    color: white;
    width: 900px;

    margin: auto;
    transform: translateY(10px);
    text-align: center;
    font-family: Netflix Sans;

}

.heading h1 {
    font-size: 3rem;
    font-family: Netflix Sans;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;

}

.first-para {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.second-para {
    font-size: 1.3rem;
    margin-bottom: 1em;
}


form {
    width: 100%;
    display: flex;
    justify-content: center;

}

.email {
    width: 370px;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 1rem;
    padding: 1rem 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: .5rem;
}

.get-started-btn {
    font-size: 1.5rem;
    padding: .4rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-btn i {
    margin-left: .5rem;
}


.mid-box {
    color: white;
    padding: 5rem 0;
    font-family: Netflix Sans;
}

.inner-box
 {
    display: flex;
    flex-direction: row;

    width: 60%;
    margin: auto;

}

.left {
    width: 50%;
}

.container h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.container p {
    font-size: 1.5rem;
    font-family: Netflix Sans;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.right img {
    width: 100%;
    margin: auto;
    position: relative;
    height: 90%;
}

.right video {
    width: 74%;
    position: absolute;
    margin-top: -19px;

}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ media querry are here ++++++++++++++++++++++++++++++ */

@media (max-width:1280px) {
    nav {
        width: 100%;
    }

    .inner-box
     {
        width: 96%;
        margin: auto;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }
}

@media (max-width:960px) {
    header {
        height: 57vh;
    }
    .box{
        height: 57vh;
    }
    .logo {
        width: 100px;
    }

    .heading {
        width: 600px;
    }

    .heading h1 {
        font-size: 2rem;
    }

    .first-para {
        font-size: 1.3rem;
    }

    .second-para {
        font-size: 1.1rem;
    }

    .email {
        width: 350px;
    }
    .inner-box{
        width: 710px;
        flex-direction: column;
        margin: auto;
        text-align: center;
        
    }
    .left{
        width: 100%;

    }

    .container h2{
        font-size: 2rem;
    }

    .container p{
        font-size: 1rem;
    }

    .right{
        width: 100%;
    }
    
    .right img{
        width: 670px;
        margin: auto;
    }

}



@media (max-width:800px){
    .inner-box{
        width: 95%;
        margin: auto;
    }
}



@media (max-width:700px) {
    .heading {
        width: 95%;
        margin: auto;
    }

    form {
        width: 100%;
        display: flex;
        padding: 0;

    }

    .email {
        width: 65%;
        margin: 0;
        margin-right: auto;
    }

    .get-started-btn {
        width: 34.5%;
        font-size: 1.5rem;
        text-align: center;

    }

    .right img{
        width: 100%;
    }
}

@media (max-width:600px) {
    form {
        flex-direction: column;
        align-items: center;
    }


    .email {
        width: 100%;
        margin-bottom: 1rem;
    }

    .get-started-btn {
        font-size: 1.1rem;
        width: 170px;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }

    .get-started-btn i {
        font-size: 1rem;
    }

}